---
export const prerender = false;
import Panel from "../layouts/Panel.astro";
import { format } from "timeago.js";
import PocketBase from "pocketbase";
import Cards from "../components/Cards.astro";

const pb = new PocketBase("https://makerly.pockethost.io/");

if (!Astro.cookies.has("logged")) return Astro.redirect("/signup", 303);

const USERNAME = Astro?.cookies?.get("name")?.value;
const ID = Astro?.cookies?.get("logged")?.value!;

const item = await pb
  ?.collection("users")
  ?.getOne(ID)
  .then((data) => data)
  .catch((err) => err);
---

<Panel title={USERNAME + " in Maker"}>
  <main class="grid min-h-full box-border gap-2 pb-4">
    <div
      class="flex flex-col items-center justify-center pt-40 h-48 w-full bg-maker"
    >
      <img
        id="banner"
        loading="lazy"
        decoding="async"
        src={pb.files.getUrl(item, item.avatar)}
        class="object-cover object-center w-42 rounded-full shadow-inner shadow-black md:blur-none md:relative md:mt-20"
      />
      <div class="max-md:hidden">
        <span class="text-white/40 font-poppins pt-4">@{item.username}</span>
        <h1
          id="title"
          class="text-6xl font-poppins font-black mb-4 text-maker animate-pulse"
        >
          {item.name}
        </h1>
        <p class="text-white font-poppins">{item.email}</p>
      </div>
    </div>
    <div class="pl-4 py-4 pr-3 max-md:mt-28 lg:hidden">
      <span class="text-white/40 font-poppins pt-4">@{item.username}</span>
      <h1
        id="title"
        class="text-6xl font-poppins font-black mb-4 text-maker animate-pulse"
      >
        {item.name}
      </h1>
      <p class="text-white font-poppins">{item.email}</p>
    </div>
    <div class="flex flex-col px-4 lg:mt-40">
      <h2 class="text-white text-xl font-bold mb-2">Recent projects</h2>
      <Cards user={ID} filter="" category="" max={4} long />
    </div>
  </main>
</Panel>
