---
import Card from "../components/Card.astro";
import PocketBase from "pocketbase";
interface Props {
    filter?: string;
    sort?: string;
    max?: number;
}

const { filter, max = 4 } = Astro.props;
let condition = filter == "" ? "" : `title~"${filter}%"`;

const pb = new PocketBase("http://127.0.0.1:8090");

let { items } = await pb.collection("films").getList(1, max, {
    expand: "posted_by",
    filter: condition,
    sort: "-starred",
});
---

<div class="talents w-full grid grid-auto-fit gap-3">
    {
        items.map((record) => (
            <Card
                id={record.id}
                author={record.expand.posted_by.name}
                title={record.title}
                time={record.duration}
                starred={record.starred}
                author_photo={pb.files.getUrl(
                    record.expand.posted_by,
                    record.expand.posted_by.avatar,
                    { thumb: "100x100" },
                )}
                banner={pb.files.getUrl(record, record.banner)}
            />
        ))
    }
    <h2 class="text-white/40 text-xl italic">
        {items.length == 0 ? "No hay coincidencias..." : ""}
    </h2>
</div>
