---
import "@fontsource/poppins";
import Menu from "../components/Menu.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const description =
  "Makerly is a platform for photographers and small directors to easily communicate with their audience. Support your favorite creators through premium memberships or VIP donations. Join Makerly today!";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="Makerly, photography, videography, creators, platform, premium memberships, VIP donations"
    />
    <meta name="author" content="Makerly Inc." />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://makerly.art/logo.png" />
    <meta name="twitter:image" content="https://makerly.art/logo.png" />
    <meta property="og:url" content="makerly.art" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <link rel="canonical" href="https://makerly.art/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="google-adsense-account" content="ca-pub-6896233735744206" />
    <title>{title}</title>
  </head>
  <body class="panel">
    <Menu />
    <slot />
    <div class="relative h-full w-full bg-slate-950">
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
      >
      </div>
    </div>
  </body>
  <style is:global>
    .panel {
      display: grid;
      grid-template-columns: 0.1fr 1.6fr;
      width: 100%;
    }
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: Poppins, sans-serif;
      background: #13151a;
      background-size: 224px;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
